---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-10">
			<div class="flex flex-row items-center gap-x-4 pb-10">
				<h1 class="text-white text-5xl font-bold ">Hey, soy Federico 
				</h1>
				<a href="https://www.linkedin.com/in/federico-antonio-yarza-castillo-351621163" target="_blank" rel="noopener">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</div>
			<h2 class="text-xl opacity-80">+10 años de experiencia. Desarrolandor Web y Movile. De Venezuela. Especializado en crear aplicaciones únicas.</h2>
			<ul>
	
			</ul>
		</section>
	</main>
</Layout>

